@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    overflow-x: hidden;
}


/* Utility classes */


.container {
    max-width: 1500px;
    margin: 0 auto;
}


/* Navbar Section */
.logo-img {
    width: 120px;
}

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 8rem;
}

.nav-items {
    display: flex;
    gap: 3rem;
    font-size: 20px;
    align-items: center;
}

.nav-items a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 400;
}

.nav-items .active {
    color: #000;
    font-weight: 600;
}

.btn {
    background: -webkit-linear-gradient(270deg, #09c5f9, #055eea);
    border: none;
    color: #fff;
    padding: 1.5rem 3rem;
    font-size: 20px;
    font-weight: 600;
    border-radius: 12px;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 10px 15px rgba(5, 93, 234, 0.3);
    transition: all 650ms;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0px 15px 25px rgba(5, 93, 234, 0.3);
}

.nav-btn {
    background: -webkit-linear-gradient(315deg, #09c5f9, #055eea);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    padding: 4rem 2rem;
}

.border .nav-btn {
    font-weight: 800;
}

.border {
    height: 4rem;
    border: double 2px transparent;
    border-radius: 8px;
    background-image: linear-gradient(white, white), linear-gradient(to bottom right, #09c5f9, #055eea);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 650ms;
}

.border:hover {
    box-shadow: 0px 6px 10px rgba(5, 93, 234, 0.4);
}


/* Hero Section */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 9rem;
}

.main-heading {
    font-size: 65px;
    margin-bottom: 2rem;
}

.desc {
    font-size: 22px;
    color: #adadad;
    line-height: 2.5rem;
    margin-bottom: 3rem;
}

.hero-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero-right img {
    width: 650px;
}

/* Main Section 1 */
.main-section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10rem 0;
}

.section-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}



.section-img img {
    width: 700px;
}

.section-heading {
    font-size: 60px;
    margin-bottom: 4rem;
}


/* Section 2 */


.main-section-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10rem 0;
}

.section2-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.section2-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2-right .section-img img {
    width: 650px;
}

/* Service section */

.services {
    margin-bottom: 2rem;
}

.top-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 4rem 0 4rem 0;
}

.top-section .main-text {
    margin: auto 0;
    font-size: 58px;
    padding-right: 2em;
}

.side-text {
    margin: 3rem 0 0 0;
    font-size: 18px;
    color: #adadad;
    padding-right: 6em;
    line-height: 2rem;
    margin-bottom: 3rem;
}

.service-img {
    height: 60px;
    margin-bottom: 2rem;
}

.service-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.service-card {
    max-width: 400px;
    padding: 2rem;
}

.service-heading {
    font-size: 28px;
    margin-bottom: 2rem;
}

.service-description {
    margin-bottom: 2rem;
    font-size: 15px;
    line-height: 1.8rem;
    color: #adadad;
}


/* Pricing Section */

.pricing {
    background: linear-gradient(to bottom right, #09c5f9, #055eea);
}

.pricing-heading {
    color: #fff;
    padding-top: 3rem;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 50px;
}

.pricing-cards {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;

}

.features li {
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: 600;
    margin-bottom: 2rem;
}

.features li img {
    width: 24px;
    margin-right: 1rem;
}

.pricing-card {
    background: #fff;
    border-radius: 10px;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
}

.card-heading {
    font-size: 32px;
    font-weight: bolder;
    padding-top: 2rem;
    margin-bottom: 1rem;
}

.card-subheading {
    color: #838383;
    font-size: 17px;
    margin-bottom: 4rem;
    letter-spacing: 1px;
}

.card-subheading.popular {
    margin-bottom: 0;
}

.features {
    margin-bottom: 4rem;
}


.plan-price {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
}

.charges {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.charges span {
    color: #838383;
}

.policy {
    font-weight: 600;
    color: #838383;
    margin-bottom: 2rem;
}

.text-content {
    padding: 0 4rem 0 2rem;
}


.card-header.dark {
    background-color: #222;
    border-radius: 10px;
    color: #fff;
    padding-bottom: 2rem;
    margin-bottom: 1.5rem;
}

/* Testimonial Section */

.testimonial-section {
    background-color: #fdfeff;
    margin-bottom: 5rem;
}

.testimonial-heading {
    font-size: 54px;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: #1d2b4f;
}

.testimonial-desc {
    text-align: center;
    line-height: 2rem;
    margin-bottom: 4rem;
    color: #adadad;

}

.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    color: #1d2b4f;
}

.testimonial {
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    padding: 2rem;
}

.testimonial-text {
    margin-bottom: 1rem;
    font-size: 18px;
    margin-bottom: 2rem;
    line-height: 1.8rem;

}

.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.author .img {
    width: 80px;
    height: 80px;
    background-color: #e6e6e6;
    border-radius: 50%;
}

.author-detail .name {
    font-size: 18px;
    margin-bottom: .5rem;
}

.author-detail .position {
    font-size: 14px;
}

/* Banner */

.banner {
    background: linear-gradient(175deg, #09c5f9, #055eea);
}

.banner-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.banner-heading {
    color: #fff;
    font-size: 66px;
    font-weight: 700;
    margin-bottom: 2rem;
}

.banner-text {
    margin: 6rem 0;
}

.banner-desc {
    color: #fff;
    font-size: 20px;
}

.button {
    margin-left: auto;

}

.register {
    background: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 18px;
    border-radius: 10px;
    padding: 1.2rem 2.4rem;
    transition: all 650ms;
}

.register:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0px 5px 20px #fff;
}

/* Footer Section */

footer {
    margin-top: auto;
    margin-bottom: 2rem;
}

.footer-items {
    display: flex;
    justify-content: space-between;
    padding-top: 12rem;
    line-height: 2rem;
}

.logo-text {
    margin-right: 2rem;

}

.footer-logo {
    width: 120px;
    margin-bottom: 2rem;
}

.footer-text {
    color: #838383;
    font-size: 18px;
}

.footer-top {
    display: flex;
    flex-direction: column;
    min-width: max-content;
    gap: 1rem;
    margin-right: 10rem;
}

.footer-menus {
    display: flex;
    margin-left: 5rem;

}


.social-media-icons {
    width: 200px;
}

.footer-heading {
    color: #1d2b4f;
    font-size: 32px;
    font-weight: 600;
}


.Social-Media .footer-heading {
    margin-bottom: 2rem;
}

.footer-top a {
    text-decoration: none;
    color: #838383;
    font-size: 18px;
}


@media(max-width:968px) {
    .navbar {
        margin-left: 2rem;
        margin-right: 2rem;
        flex-direction: column;
    }

    .nav-items {
        font-size: 18px;
        gap: 2rem;
    }

    .nav-btn {
        background: -webkit-linear-gradient(315deg, #09c5f9, #055eea);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 16px;
        padding: 4rem 2rem;
    }

    .border .nav-btn {
        font-weight: 800;
    }

    .border {
        height: 3rem;
    }

    .hero {
        flex-direction: column-reverse;
    }

    .hero-left {
        text-align: center;
        padding: 0 5rem;
    }

    .main-heading {
        font-size: 48px;
    }


    .hero-right {
        text-align: center;
    }

    .hero-right img {
        width: 75vw;
        margin: 0 auto 1rem auto;
    }

    .main-section-1 {
        grid-template-columns: 1fr;
    }

    .section-heading {
        font-size: 48px;
    }


    .section-img img {
        width: 75vw;
    }

    .section-right {
        text-align: center;
        padding: 0 5rem;
    }

    .section-right .btn {
        margin: 0 auto;
    }

    .main-section-2 {
        grid-template-columns: 1fr;
    }

    .main-section-2 .section2-left {
        order: 2;
    }

    .main-section-2 .section2-left {
        text-align: center;
        padding: 0 5rem;
    }

    .section2-left .btn {
        margin: 0 auto;
    }

    .top-section {
        padding: 0 5rem;
        align-items: center;
    }

    .top-section .main-text {
        margin: auto 0;
        font-size: 42px;
        padding-right: 2em;
    }

    .side-text {
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

    .service-card {
        text-align: center;
    }

    .pricing-card:nth-of-type(2) {
        order: 1;
    }

    .pricing-cards {
        flex-wrap: wrap;
    }

    .testimonials {
        padding: 0 5rem;
    }

    .banner-content {
        padding: 0 5rem;
    }

    .banner-heading {
        font-size: 42px;
    }

    .banner-desc {
        font-size: 16px;
    }

    .register {
        font-size: 16px;
    }

    .footer-items {
        flex-wrap: wrap;
        padding: 5rem;
    }

    .logo-text {
        text-align: center;
        margin-bottom: 2rem;
    }

    .footer-menus {
        gap: 3rem;
        margin: 0;
    }

    .footer-top {
        margin-right: 0;
    }
}

@media(max-width:540px) {
    .nav-items {
        font-size: 16px;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
    }


    .hero-left {
        padding: 0 2.2rem;
    }

    .section-right {
        padding: 0 2.2rem;
    }

    .section2-right .section-img img {
        width: 75vw;
    }

    .main-section-2 .section2-left {
        padding: 0 2.2rem;
    }

    .top-section {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .top-section .main-text {
        margin-bottom: 1rem;
        padding: 0;
    }

    .service-cards {
        grid-template-columns: 1fr 1fr;
    }

    .testimonials {
        grid-template-columns: 1fr;
    }

    .banner-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .banner-text {
        margin: 3rem 0;
    }

    .button {
        margin: 1rem auto;
    }

    .footer-menus {
        justify-content: center;
        flex-wrap: wrap;
    }
}